@model IEnumerable<WellWiseCR.Models.Especialidad>

@{
    ViewData["Title"] = "Especialidades";
}

<h1>Especialidades</h1>

<p>
    <a class="btn btn-warning" asp-action="Create">Registrar especialidad</a>
</p>
<table class="table">
    <thead>
        <tr class="justify-content-center text-center">
            <th>
                ID de especialidad
            </th>
            <th>
                Nombre de especialidad
            </th>
            <th>
                Descripción
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="justify-content-center text-center">
                <td>
                    @Html.DisplayFor(modelItem => item.IdEspecialidad)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEspecialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.IdEspecialidad">Modificar</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdEspecialidad">Detalles</a>
                    @if (item.Estado.Equals("Activo"))
                    {
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdEspecialidad">Desactivar</a>
                    }
                    else
                    {
                        <a class="btn btn-success" asp-action="Delete" style="width:30%" asp-route-id="@item.IdEspecialidad">Reactivar</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
