@model WellWiseCR.Models.Diagnostico

@{
    ViewData["Title"] = "Consultar diagnóstico";
    var hoy = DateTime.Today;
    var edad = hoy.Year - Model.Usuario.FechaNacimiento.Year;
    if (Model.Usuario.FechaNacimiento.Date > hoy.AddYears(-edad))
        edad--;

}

<h1>Consultar diagnóstico</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID de diagnóstico
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdDiagnostico)
        </dd>
        <dt class="col-sm-2">
            Fecha y hora
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt class="col-sm-2">
            Nombre del paciente
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.NombreCompleto)
        </dd>
        <dt class="col-sm-2">
            Edad
        </dt>
        <dd class="col-sm-10">
            @edad
        </dd>
        <dt class="col-sm-2">
            Provincia
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Provincia)
        </dd>
        <dt class="col-sm-2">
            Cantón
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Canton)
        </dd>
        <dt class="col-sm-2">
            Peso
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class="col-sm-2">
            Estatura
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estatura)
        </dd>
        <dt class="col-sm-2">
            Actividad física
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActividadFisica)
        </dd>
        <dt class="col-sm-2">
            Condición cardíaca
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CondicionCardiaca)
        </dd>

        @foreach (var i in ViewBag.Enfermedades)
        {
            
            <hr />
            <h4 style="font-weight: bold">@i.NombreEnfermedad</h4>
            <dt class="col-sm-2">
                Especialidad
            </dt>
            <dd class="col-sm-10">
                @foreach (var j in ViewBag.Especialidades)
                {
                    if (j.IdEspecialidad == i.IdEspecialidad)
                        @j.NombreEspecialidad
                }
            </dd>
            <dt class="col-sm-2">
                Síntomas
            </dt>
            <dd class="col-sm-10">
                @i.Sintomas
            </dd>
            <dt class="col-sm-2">
                Nivel de alerta
            </dt>
            <dd class="col-sm-10">
                @i.NivelAlerta
            </dd>
            <dt class="col-sm-2">
                Recomendaciones
            </dt>
            <dd class="col-sm-10">
                @i.Recomendaciones
            </dd>

            bool isEspecialista = false;

            @foreach (var j in ViewBag.Especialistas)
            {
                if (j.IdEspecialidad == i.IdEspecialidad && j.Provincia == Model.Usuario.Provincia && j.Canton == Model.Usuario.Canton)
                {
                isEspecialista = true;
                    <p style="font-weight: bold">Se recomienda contactar al siguiente especialista en su cantón.</p>
                <dt class="col-sm-2">
                    Nombre del especialista
                </dt>
                <dd class="col-sm-10">
                    @j.NombreCompleto
                </dd>
                <dt class="col-sm-2">
                    Correo electrónico
                </dt>
                <dd class="col-sm-10" style="color: blue; text-decoration: underline;">
                    @j.Email
                </dd>
                <dt class="col-sm-2">
                    Dirección del especialista
                </dt>
                <dd class="col-sm-10">
                    @j.Provincia - @j.Canton
                </dd>
                }
                else if (j.IdEspecialidad == i.IdEspecialidad && j.Provincia == Model.Usuario.Provincia && j.Canton != Model.Usuario.Canton)
                {
                    <p style="font-weight: bold">Un especialista disponible en otro cantón de su provincia es el siguiente.</p>
                    isEspecialista = true;
                    <dt class="col-sm-2">
                        Nombre del especialista
                    </dt>
                    <dd class="col-sm-10">
                        @j.NombreCompleto
                    </dd>
                    <dt class="col-sm-2">
                        Correo electrónico
                    </dt>
                    <dd class="col-sm-10" style="color: blue; text-decoration: underline;">
                        @j.Email
                    </dd>
                    <dt class="col-sm-2">
                        Dirección del especialista
                    </dt>
                    <dd class="col-sm-10">
                        @j.Provincia - @j.Canton
                    </dd>
                }
            }
            @if (!isEspecialista)
            {
                <p style="font-weight: bold">No hay especialistas recomendados para esta enfermedad por el momento.</p>
            }
        }
    </dl>
</div>
<div>
    <a class="btn btn-secondary" asp-action="Index">Regresar</a>
</div>
<div>
    <br />
    <button class="btn btn-secondary" title="Opción deshabilitada temporalmente.">Enviar correo</button>
</div>
