@using System.Text;
@model IEnumerable<WellWiseCR.Models.Usuario>

@{
    ViewData["Title"] = "WellWiseCr - Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Usuarios</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Registrar usuario</a>
</p>
<table class="table">
    <thead>
        <tr class="justify-content-center text-center">
            <th>
                Nombre de usuario
            </th>
            <th>
                Contraseña
            </th>
            <th>
                Nombre completo
            </th>
            <th>
                Correo electrónico
            </th>
            <th>
                Rol
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            const string caracteres = "AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789";
            StringBuilder stringBuilder = new StringBuilder();
            Random random = new Random();
            for (int i = 0; i < 8; i++)
            {
                int indice = random.Next(caracteres.Length);
                stringBuilder.Append(caracteres[indice]);
            }
            string passwordCifrado = stringBuilder + "";

            <tr class="justify-content-center text-center">
            <td>
                    @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td class="text-muted">
                Cifrada: @passwordCifrado
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                    
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.NombreUsuario">Modificar</a>
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.NombreUsuario">Detalles</a>
                @if (item.Rol.Equals("Administrador"))
                {
                        <button class="btn btn-secondary" title="Un administrador no puede ser desactivado.">Desactivar</button>
                }
                else
                {
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.NombreUsuario">Desactivar</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
